# Dependencies
node_modules/

# Build output
/dist/
/build/

# Vite
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Environment variables
.env
.env.*

# Coverage
coverage/

# TypeScript
*.tsbuildinfo

# Misc
*.local
